@page "/customers";

@using IBMG.SCS.Portal.ApiClient;
@using IBMG.SCS.Portal.Web.Client.Components

<div class="container-fluid px-0 tenants mt-3">
    <RadzenRow class="w-100 my-3">
        <RadzenText TextStyle="TextStyle.H4" class="dark-blue-color fw-600 mb-0" Text="Customers" />
    </RadzenRow>
    @if (this.isLoading)
    {
        <ComponentLoading IsVisible="true" />
    }
    else
    {
        <RadzenRow class="w-100 tenant-card" AlignItems="AlignItems.Center" Gap="10px">
            <RadzenRow class="w-100 m-3">
                <RadzenColumn Size="12" SizeMd="6" SizeLg="4">
                    <div class="search-wrapper form-group">
                        <input type="text"
                               class="form-control search-input"
                               placeholder="SEARCH CUSTOMER"
                               @bind="searchText"
                               @bind:event="oninput" />
                        <svg class="search-icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.2939 12.5786H13.3905L13.0703 12.2699C14.191 10.9663 14.8656 9.27387 14.8656 7.43282C14.8656 3.32762 11.538 0 7.43282 0C3.32762 0 0 3.32762 0 7.43282C0 11.538 3.32762 14.8656 7.43282 14.8656C9.27387 14.8656 10.9663 14.191 12.2699 13.0703L12.5786 13.3905V14.2939L18.2962 20L20 18.2962L14.2939 12.5786ZM7.43282 12.5786C4.58548 12.5786 2.28702 10.2802 2.28702 7.43282C2.28702 4.58548 4.58548 2.28702 7.43282 2.28702C10.2802 2.28702 12.5786 4.58548 12.5786 7.43282C12.5786 10.2802 10.2802 12.5786 7.43282 12.5786Z"
                                  fill="#4F6A7B" />
                        </svg>
                    </div>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMd="6" SizeLg="8"
                              class="icon-btn-group d-flex justify-content-md-end gap-2 mt-2 mt-md-0">

                    <RadzenButton Icon="filter_alt"
                                  ButtonStyle="ButtonStyle.Primary" />

                    <RadzenButton Icon="filter_alt_off"
                                  ButtonStyle="ButtonStyle.Danger" />

                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="m-3">
                <RadzenDataGrid TItem="ScsCustomer"
                                Data="@FilteredCustomers"
                                AllowPaging="true"
                                PageSize="10"
                                ColumnWidth="100px"
                                GridLines="DataGridGridLines.None"
                                class="customer-card-grid">
                    <Columns>
                        <RadzenDataGridColumn Property="Customer_Code" Title="Account Number" />
                        <RadzenDataGridColumn Property="Customer_Desc" Title="Name" Width="250px" />
                        <RadzenDataGridColumn Title="Status">
                            <Template Context="c">
                                <span class="@(c.Credit_Status == "OnStop" ? "status-onstop" : "status-trading")">
                                    @(c.Credit_Status)
                                </span>
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Credit Limit">
                            <Template Context="c">
                                @(c.Credit_Limit.ToString("C"))
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Available Credit">
                            <Template Context="c">
                                @(c.Credit_Available.ToString("C"))
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TextAlign="TextAlign.Right" Width="80px">
                            <Template Context="c">
                                <RadzenButton Icon="groups" IconColor="#4F6A7B"
                                              ButtonStyle="ButtonStyle.Dark"
                                              Size="ButtonSize.Small"
                                              Click="@(() => NavigateToTenant(c))" />
                                <RadzenButton Icon="grid_view" IconColor="#4F6A7B"
                                              ButtonStyle="ButtonStyle.Dark"
                                              Size="ButtonSize.Small"
                                              Click="@(() =>NavigateToValidations(c.Customer_ID))"
                                              class="ms-1" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenRow>
        </RadzenRow>
    }
</div>