@typeparam TItem
@using Radzen
@using Radzen.Blazor

<div>
    <div class="d-flex flex-column h-100">
        @if (Data != null && Data.Any())
        {
            <RadzenChart Style="height:200px;">
                <RadzenLegend Visible="false" />
                <RadzenLineSeries Data="@Data"
                                  CategoryProperty="@Category"
                                  ValueProperty="@Value" />
                <RadzenCategoryAxis />
                <RadzenValueAxis FormatString="@Format" />
            </RadzenChart>
            @if (ShowLegend && LegendItems.Any())
            {
                <div class="custom-donut-legend">
                    @foreach (var item in LegendItems)
                    {
                        <div class="legend-item">
                            <span class="legend-dot"
                                  style="background-color:@item.Color"></span>
                            <span class="legend-text">@item.Label</span>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="d-flex flex-grow-1 align-items-center justify-content-center text-center">
                <p class="fw-bold mb-0 fs-5">
                    No Data available For Selected Period
                </p>
            </div>
        }
    </div>

</div>

